/build/

# Directories #
/build/
/bin/
target/
   
# OS Files #
.DS_Store
   
*.class
   
# Package Files #
*.jar
*.war
*.ear
*.db
   
######################
# Windows
######################
   
# Windows image file caches
Thumbs.db
   
# Folder config file
Desktop.ini
   
######################
# OSX
######################
   
.DS_Store
.svn
   
# Thumbnails
._*
   
# Files that might appear on external disk
.Spotlight-V100
.Trashes
   
   
######################
# Eclipse
######################
   

bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
   
# Locally stored "Eclipse launch configurations"
*.launch
   
# CDT-specific
.cproject
   
# PDT-specific
.buildpath


Semi/web/WEB-INF/classes/.gitignore
Semi/web/review_uploadFiles/202106251724543420.jpg
Semi/web/review_uploadFiles/202106251724543440.jpg
Semi/web/review_uploadFiles/202106251727146400.jpg
Semi/web/review_uploadFiles/202106251727146460.jpg
Semi/web/review_uploadFiles/202106251727146490.jpg
Semi/web/review_uploadFiles/202106251728142630.jpg
Semi/web/review_uploadFiles/202106251728142680.jpg
Semi/web/review_uploadFiles/202106251734123410.jpg
Semi/web/review_uploadFiles/202106251734123430.jpg
Semi/web/review_uploadFiles/202106251737571660.jpg
Semi/web/review_uploadFiles/202106251737571680.jpg
Semi/web/review_uploadFiles/202106251742336290.jpg
Semi/web/review_uploadFiles/202106251742336310.jpg
Semi/web/review_uploadFiles/202106251747368730.jpg
Semi/web/review_uploadFiles/202106251750498830.jpg
Semi/web/review_uploadFiles/202106251753277360.jpg
Semi/web/review_uploadFiles/202106251753277440.png
Semi/web/review_uploadFiles/202106251753277520.png
Semi/web/review_uploadFiles/202106251753277590.jpg
Semi/web/review_uploadFiles/202106251753277600.jpg
Semi/web/review_uploadFiles/202106252039529850.jpg
Semi/web/review_uploadFiles/202106252039529880.jpg
Semi/web/review_uploadFiles/202106252045087980.jpg
Semi/web/review_uploadFiles/202106252045088030.jpg
Semi/web/review_uploadFiles/202106252108041540.jpg
Semi/web/review_uploadFiles/202106252108041570.jpg
Semi/web/review_uploadFiles/202106252108304660.jpg
Semi/web/review_uploadFiles/202106252108304700.jpg
Semi/web/review_uploadFiles/202106252109591590.jpg
Semi/web/review_uploadFiles/202106252109591630.jpg
Semi/web/review_uploadFiles/202106252114597730.jpg
Semi/web/review_uploadFiles/202106252114597770.jpg
Semi/web/review_uploadFiles/202106252141239110.jpg
Semi/web/review_uploadFiles/202106252141239170.jpg
Semi/web/review_uploadFiles/202106252143003860.jpg
Semi/web/review_uploadFiles/202106252143003990.jpg
